* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
h2 {
  font-family: "Inter";

  font-size: 40px;
  line-height: 72px;

  color: #35414b;
  text-align: center;
}

h4 {
  font-weight: 600;
}
p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #4e5a65;
}
a {
  text-decoration: none;
}

/* header start */

.menu {
  display: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 60px 110px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* margin: 0px 15px; */
}

.navbar {
  margin-left: 160px;
}
.navbar div.links a {
  padding: 0px 40px;
}
/* .navbar div {
  display: flex;
  justify-content: space-between;
} */
.navbar-item {
  /* padding: 15px; */
  color: #4e5a65;
}
.links {
  display: flex;
  justify-content: space-around;
}
.btns {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.login {
  display: flex;
  margin-right: 30px;
}
.login:hover {
  color: #794cff;
}
.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 0px solid;
  color: #794cff;
  width: 164px;
  height: 42px;
  background: #ece6ff;
  border-radius: 4px;
}
.btn:hover {
  color: #ece6ff;
  background-color: #794cff;
}

/* heaser end */

/* section-1 start */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.section-save {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 30px;

  text-align: center;
  color: #ffffff;
  background: #81c43b;
  border-radius: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  left: 15px;
}
.save:hover {
  background-color: #f2f9eb;
  color: #4e5a65;
}
.acnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  text-align: center;
  background: #f2f9eb;
  border-radius: 0px 100px 100px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
#manage {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #35414b;
  text-align: center;
  margin: 20px;
}
.section-1__text {
  display: flex;
}
.section-1__text_paragraph {
  display: flex;
  justify-content: center;
  width: 490px;
}

.paragraph {
  color: #4e5a65;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;

  text-align: center;
}
input {
  text-align: center;
  color: #97a5b5;
  box-sizing: border-box;

  width: 290px;
  height: 50px;
}
.section-1__plchldr {
  display: flex;
}
.plchldr {
  display: flex;

  margin-top: 30px;
}

.try {
  box-sizing: border-box;
  width: 150px;
  color: #fbfafe;
  background: #794cff;
  border: 1px solid #794cff;
  border-radius: 0px 4px 4px 0px;
}
.try:hover {
  background-color: #97a5b5;
  color: #4e5a65;
}
/* section-1 end */

/* trusted by - start */
.overview {
  display: flex;
  justify-content: center;
}
.trusted {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
#trust {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  color: #4e5a65;
}

.cmpns {
  display: flex;

  justify-content: space-around;
  margin: 40px 65px;
}

/* trusted by - end */

/* SRPT start */
.SRPT {
  background: #fbfafe;
  border: 2px solid #f0ebfa;

  display: flex;

  justify-content: center;
  padding: 60px;
}
.timeline {
  display: flex;
  justify-content: center;
  position: relative;
  right: 70px;
}
.block-2 {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  position: relative;
  left: 30px;
}
.supblock {
  display: flex;
  flex-direction: column;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #35414b;
}
.block-2 div:hover {
  border-left: 5px solid #794cff;
}

.supblock:hover {
  box-sizing: border-box;
  background: #f6f3fc;
  border: 5px solid #f6f3fc;
  background: #f6f3fc;

  border-radius: 0px 8px 8px 0px;
}
/* SRPT - end */

/* work-easer start */

.work-easier {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.block-m {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  color: #35414b;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 100px 0px 200px;
}

.block-m__team {
  padding: 50px 0px 20px;
  width: 398px;
}

.block-m__button__violet {
  display: none;
}
/* .TeamSurveysReports {
  display: inline-block;
  vertical-align: top;
  background-position: center top;
  background-size: 40px;
  background-repeat: no-repeat;
  margin-top: 0 5px; */

/* work easer - end */

/* cantner-2 start */
.container-2 {
  background: #fbfafe;
  border: 1px dashed #f0ebfa;
  margin: 51px 10px 50px 12px;
  padding: 70px;
  display: flex;
  justify-content: center;
}
.we-work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.we-work-h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #35414b;

  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 0px;
  padding-bottom: 0px;
}
.why-with-us__text__paragraph {
  font-size: 18px;
  text-align: center;
  width: 462px;
}

.Get {
  /* position: absolute; */
  width: 126px;
  height: 40px;

  color: #fbfafe;
  background: #794cff;
  border: 1px solid #794cff;
  border-radius: 4px;
}
.Get:hover {
  background-color: #97a5b5;
  color: #4e5a65;
}
.hourse-worked {
  padding-left: 100px;
}

/* container-2 end*/

/* why with us start */
.why-with-us {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  align-items: center;

  /* font-style: Inter;
  max-width: 450; */
}
.why-with-us__text {
  width: 500px;
  height: 180px;
}
.users {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}
.users div span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4e5a65;
}
.users div img {
  margin: 0px 15px;
}
.users__profile {
  display: flex;
  align-items: center;
}
.users__profile:hover {
  border-top: 5px solid #35414b;
}

/* why with us end */

/* playapp - start */
.play {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
.board-play__inform {
  display: flex;

  justify-content: space-evenly;

  background: #796eff;
  border-radius: 15px;
  width: 1120px;
  height: 224px;
}
.inform {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  width: 400px;
}
.play-app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

/* playapp-end */

/* footer- start */
footer {
  background: #1d2830;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Inter;
  font-size: large;
}
.footer-container__info {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  width: 1500px;

  margin: 70px 0;
}
.footer-container__info_cmpny_link {
  color: #d9dbe1;
}
.footer-container__info_cmpny {
  display: flex;
  flex-direction: column;
  line-height: 45px;
}
.playdark {
  padding-bottom: 20px;
}
.appdark {
  padding-top: 20px;
}

.footer-container__info_contacts {
  color: #d9dbe1;
  font-family: Inter;

  display: flex;
  gap: 514px;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}
.footer-container__info_contacts-2 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
.footer-container__info_contacts__year {
  text-align: center;
  color: #d9dbe1;
  display: flex;
}
.logos-icon {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}
@media all and (max-width: 380px) {
  .save {
    display: none;
  }
  .section-save span {
    font-family: Inter;
    color: #35414b;
  }
  .acnt {
    border-radius: 25px;
  }

  p {
    font-size: 16px;
  }
  .we-work__paragraph__text {
    font-family: Inter;
    font-weight: 300;

    font-size: 11px;
    text-align: center;
  }
  .trusted {
    margin: 50px 20px 30px;
  }
  .cmpns {
    margin: 35px 20px 45px;
  }
  .cmpns img {
    width: 19%;
    height: 10%;
  }
  .cmpns img:last-child {
    display: none;
  }
  .we-work {
    text-align: center;
    align-items: center;

    height: 215px;
  }

  .we-work-h2 {
    text-align: center;
  }
  .we-work-h2 {
    font-family: Inter;
    font-size: 18px;
    width: 195px;
    line-height: 30px;
  }
  .hourse-worked {
    padding-left: 10px;
  }
  .why-with-us__text {
    font-size: 18px;
    width: 195px;
    height: 70px;
    line-height: 30px;
  }
}
@media all and (max-width: 800px) {
  #manage {
    font-size: 30px;
    line-height: 40px;
  }
  .block-m__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
  }
  .play {
    margin: 35px 0px;
  }
  .board-play__inform {
    flex-direction: column;
    width: 350px;
    height: 300px;
    border-radius: 0px;
  }
  .play-app {
    flex-direction: column;
  }
  .inform {
    font-size: 22px;
    width: 342px;
    line-height: 30px;
  }
}
@media all and (max-width: 485px) {
  #manage {
    font-size: 29px;
    line-height: 30px;
  }
  .section-1__text_paragraph {
    width: 300px;
  }
  .section-1__plchldr {
    display: flex;
    justify-content: center;
  }
  .plchldr {
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
  }
  .try {
    width: 290px;
    height: 50px;
    border-radius: 4px;
    margin: 20px 0px;
  }
  #trust {
    font-size: 12px;
  }

  .block-m__team img {
    width: 15%;
  }

  .block-m__button__violet {
    display: block;
    border: #ece5ff;
    font-family: Inter;

    width: 230px;
    height: 50px;
    color: #7259fa;
    margin-top: 20px;
  }
  .block-m__team {
    padding: 50px 0px 20px;
    width: 398px;
  }

  .block-m__team:nth-last-child(-n + 4) {
    display: none;
  }
  .why-with-us__text__paragraph {
    font-size: 16px;
    text-align: center;
    width: 335px;
  }
}
@media all and (max-width: 320px) {
  #manage {
    font-weight: 200;
    font-size: 26px;
    line-height: 30px;
  }
  .paragraph {
    font-size: 14px;
  }
  .block-m__team {
    padding: 50px 0px 20px;
    width: 222px;
  }
  .Get {
    width: 224px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 11px;
  }
  .why-with-us__text__paragraph {
    font-size: 14px;
    text-align: center;
    width: 262px;
  }
  .users {
    margin-top: 35px;
  }
}

@media all and (max-width: 1000px) {
  .overview img {
    width: 90%;
    height: 90%;
  }

  .hourse-worked img {
    padding-top: 30px;
    width: 90%;
    height: 90%;
  }
}
@media all and (max-width: 1100px) {
  .SRPT {
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 60px;
  }
  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0px;
  }
  .timeline img {
    width: 90%;
    height: 90%;
  }
  .block-2 {
    display: flex;

    justify-content: space-between;
    height: 400px;
    margin-top: 50px;
  }
  .footer-container__info {
    flex-direction: column;
    width: 240px;
    margin: 30px 0px;
  }
  .footer-container__info_cmpny_link {
    display: none;
  }
  .footer-container__info_cmpny {
    font-size: 16px;
    line-height: 48px;
  }
  .footer-container__info_apps {
    font-size: 16px;
    line-height: 48px;
  }
  .playdark,
  .appdark {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .logos-icon {
    display: none;
  }
  .footer-container__info_contacts {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;

    height: 60px;

    width: 240px;
  }
}

@media all and (max-width: 600px) {
  h2 {
    font-size: 35px;
  }

  .container {
    margin: 60px 10px;
  }
  .block-m {
    margin: 0px 0px 0px 40px;
  }

  .work-easier {
    margin-top: 50px;
  }
}
@media all and (max-width: 599px) {
  h2 {
    font-size: 24px;
    line-height: 45px;
  }
}
@media all and (max-width: 1200px) {
  .container-2 {
    flex-direction: column-reverse;
    padding-top: 0px;
  }
}
@media all and (max-width: 540px) {
  .container-2 {
    padding: 0px;
    margin: 50px 10px;
  }
  .users__profile {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .users__profile:nth-last-child(-n + 2) {
    display: none;
  }
}
@media all and (max-width: 1280px) {
  .btns,
  .navbar {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (max-width: 400px) {
  .SRPT {
    padding: 30px 9px;
  }
  .block-2 {
    height: 320px;
    left: 0px;
  }
  .block-2 div:hover {
    border-left: 0px;
    border-bottom: 5px solid #794cff;
  }
  .supblock {
    font-size: 12px;
    text-align: center;
  }
}
